/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

img {
    width: 100%;
}

.space {
    justify-content: space-between;
}

/* NAV BAR */
.header {
    padding: 0 3rem;
    margin-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.header-nav {
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-top: 20px;
    padding: .7rem;
}

.btn-start {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: hsl(217.18deg 100% 50%);
    text-decoration: none;
    text-align: center;
    color: white;
}

.nav-text {
    text-decoration: none;
}

/* NAV BAR */

/* HERO */
.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
    background-color: hsl(207.06deg 51.52% 80.59%);
}

.row {
    display: flex;
}

.col-30 {
   width: 30%;
}

.col-70 {
    width: 70%;
}

.button {
    background-color: hsl(217.18deg 100% 50%);
    color: white;
    display: inline-block;
    padding: .6rem;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
}

.title {
    font-size: 60px;
    margin-bottom: 50px;
}

.arrow {
    font-size: 40px;
    margin-top: 60px;
}
/* HERO */

/* PRICE GRID */

.container2 {
    width: 65%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 70px;
}

.col-price {
    width: calc(100% / 4);
    border: 1px solid hsl(240deg 3.37% 82.55%);
    padding: 1rem;
}


.title2 {
   font-size: 25px;
   margin-bottom: 30px;
}

.billing {
    margin-bottom: 30px;
    display: flex;
    gap: 3rem;
}

.bundle-info {
    list-style: none;
    margin-top: 30px;
}

.choices {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.prices {
    margin-top: 30px;
}

.bundle-type {
    margin-bottom: 20px;
}

.icon-text {
    margin-bottom: 15px;
}

.divider {
    margin-top: 30px;
    width: 30%;
}

.team-cont {
    border: 1px solid hsl(240deg 3.37% 82.55%);
}

.enterprise {
    padding: 1rem;
    margin-top: 20px;
}

.button-contact {
    color: white;
    background-color: hsl(217.18deg 100% 50%);
    padding: 1rem;
    text-decoration: none;
}


/* PRICE GRID */

/* PARTNER CONTACT */
.partner-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 70px;
}

/* INFO SECTION */
.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
    margin-top: 60px;
}

.text {
    margin-left: 50px;
    
}

.transparent-button {
    border: 1px solid black;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    width: 50%;
}

.transparent {
    text-decoration: none;
}

.execute {
    margin-top: 6rem;
}

.feature {
    margin-top: 3rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.team{
    margin-top: 150px;
    width: 50%;
    margin-bottom: 50px;
}

/* ADVERTISING */

.dropbox-bus {
    width: 60%;
    padding: 3rem;
    margin-left: 200px;
    color:hsl(336.4deg 84.76% 20.59%) ;
    font-size: 30px;
}

.button-white {
    background-color: white;
    border: 1px solid black;
    color: black;
    display: inline-block;
    padding: .6rem;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
}

/* FAQ */

.text-faq {
    font-size: 30px;
    vertical-align: middle;
}

.angle {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;

}
